@import "../../scss/_variables.scss";

.ScrollBack {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
  visibility: hidden;

  &--visible {
    visibility: visible;
    animation: fadeIn .3s linear;
  }

  &__icon {
    color: $gray;
    transition: color .2s ease-in-out;

    &:hover {
      color: $white;
    }
  }

  &:active {
    transform: translateY(5px);
  }

  //Media queries
  @media (min-width: 1px) and (max-width: 999px) {
    display: none;
  }
}