@import "../../scss/_variables.scss";

.Main {
  grid-area: Main;
  font-family: 'RobotoMono-Light', serif;
  color: $white;
  position: relative;

  &__name {
    color: $dark-green;
    font-weight: 600;
  }

  &__heading-primary {
    font-size: 3em;
    margin: 10px 0 10px 0;
  }

  &__heading-secondary {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: $gray;
  }

  &::before {
    content: "";
    position: absolute;
    top: 130px;
    right: 50px;
    width: 500px;
    height: 1px;
    background-color: $gray;
    animation: .4s mainBeforeAppear ease-in-out;
  }

  &::after {
    content: "";
    position: absolute;
    top: 80px;
    right: 100px;
    width: 1px;
    height: 500px;
    background-color: $gray;
    animation: .4s .1s mainAfterAppear ease-in-out;
  }

  //Media queries
  @media (min-width: 1px) and (max-width: 999px) {
    padding: 150px 15% 0 15%;

    &::before, &::after {
      display: none;
    }

    &__about,
    &__projects,
    &__work {
      margin-bottom: 300px;
    }

    &__contact {
      margin-bottom: 220px;
    }
  }

  @media (min-width: 1000px) and (max-width: 2160px) {
    padding: 200px 30% 0 15%;

    &__about,
    &__projects,
    &__work {
      margin-bottom: 450px;
    }

    &__contact {
      margin-bottom: 400px;
    }
  }
}